
<!DOCTYPE html>
<html>
<head>


 </head>
<body  style="background-color:#lightgrey;" class="panel panel-body" ng-app="app">
 <div ng-controller="addshippingctrl">
<div class="panel panel-info">

    <div class="panel-heading">New Product</div>
  </div>
  <br>
<div class="col-md-12 form-group">
<div class="row">
<div ng-contoller="myController">
<form class="form-horizontal" id="form1" name="form1" onsubmit="myFunction()"  >
  
   <div class="form-group">
    <label for="Product Name" class="col-md-4 control-label">Product Name:</label>
   <div class="col-md-4">
    <input type="text" name="ProductName:"  class="form-control" id="ProductName:" required>

  </div>
  </div>
  <br>

  <div class="form-group">
    <label for="Quantity" class="col-md-4 control-label">Quantity:</label>
   <div class="col-md-4">
    <input type="number" name="quantity" class="form-control" id="quantity" required >

  </div>
  </div>
  <br>
  

  <div class="form-group">
    
 <label for="category" class="col-md-4 control-label"> Category: </label><br>
  <div class="col-md-4">
    <select name="category" ng-model="catetgory">
      <option value="option-1">Option 1</option>
      <option value="option-2">Option 2</option>
    </select><br>
	<br />
  </div>
  </div>
  <br>
  
  
  <div class="form-group">
    
 <label for="brand" class="col-md-4 control-label"> Brand: </label><br>
  <div class="col-md-4">
    <select name="brand" ng-model="brand">
      <option value="option-1">Option 1</option>
      <option value="option-2">Option 2</option>
    </select><br>
	<br />
  </div>
  </div>
  <br>

  
  
  

  
  <br>
 <input  type="submit" style="position:relative; left:230px" class="btn btn-primary" value=" Save"/>

</div>
</div>
</div>
</body>

</html>