<body  style="background-color:#lightgrey;" class="panel panel-body" >
 <div ng-controller="addproductctrl">
<div class="panel panel-info">

    <div class="panel-heading">New Product</div>
  </div>
  <br>
<form class="col-md-8" >
    Product Name: <input type="text" class="form-control"
				ng-model="shippingAddress.address1"/><br /> 
				
		Quantity: <input
				type="number"  class="form-control" ng-model="shippingAddress.address2"/><br />
				
		Price: <input type="number" class="form-control"
				ng-model="shippingAddress.city"/><br /> 
				
			Category: <select class="form-control" ng-model="shippingAddress.state">
        <option value="option-1">Option 1</option>
      <option value="option-2">Option 2</option>
        </select>
        
        <br>
			
		Brand: <select class="form-control" ng-model="shippingAddress.state">
        <option value="option-1">Option 1</option>
      <option value="option-2">Option 2</option>
        </select>
        
   
        <br>
     
          <button class="button" ng-click="addEntry()">Add Product
          </button>	
          <button type="button" class="btn btn-default" >Cancel</button>
      
  
</form>
  
  <br>


</div>
</div>
</div>
</body>