<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
</head>
<body ng-controller="changepasswordctrl">
 <form class="col-md-8" onsubmit="return Validate(this);"> 
  <div class="container"></div>
 <a><span class="glyphicon glyphicon-lock"></span> </a>
                   New Password: <input type = "text"  class="form-control" ng-model="verify.password1" placeholder = "*********" name = "upassword1"><br><br>
        
                                  Confirm Password: <input type = "text"  class="form-control" ng-model="verify.password2" placeholder = "*********" name = "upassword2"><br><br>
                
                <input type = "submit"  class="btn btn-default" value = "Save" ng-click="savePassword()">

            </form> 
</body>
</html>